@model LivestreamTest.Models.SpotifyRecentlyPlayedModel

@if (Model.items.Any())
{
    <div class="row">
        <div class="col-12">
            Recently Played
        </div>
    </div>

    foreach (var song in Model.items)
    {
        <div class="row">
            <div class="col-3">
                <img src="@song.track.album.images.LastOrDefault().url" class="img-fluid" />
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-12">
                        @song.track.name
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @song.track.album.name
                    </div>
                </div>
            </div>
        </div>
    }
}